@charset "utf-8";

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

/* ===== header ===== */
.head-bar {
    width: 100%;
    background-color: white;
    padding: 14px;
    display: flex;
    justify-content: space-between;
}

.head-bar > img {
    width: 150px;
    margin-top: 5px;
}

.gnb {
    display: none;
}

.mo-btn {
    width: 30px; height: 20px;
}

.mo-btn > span {
    width: 30px; height: 3px;
    background-color: black;
    display: block;
}

.mo-btn > span:first-child {
    width: 15px;
}

.mo-btn > span:nth-child(2) {
    margin: 5px 0;
}

.mo-btn > span:last-child {
    width: 15px;
    float: right;
}

video {
    width: 100%; height: auto;
    position: relative;
}

.video-div {
    position: relative;
}

.video-content::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%; height: 100%;
}

.video-content > p {
    text-align: center;
}

.video-content > ul {
    text-align: center;
}

.video-content > ul > li > strong {
    display: inline;
}
