@charset "utf-8";

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* ===== header ===== */
/* head-bar */
.head-bar {
    width: 100%;
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-bar > h1 > img {
    width: 150px;
}

.head-bar > h2 {
    display: none;
}

/* nav */
nav {
    display: none;
}

/* mo-btn */
.mo-btn {
    width: 30px; height: 20px;
    cursor: pointer;
}

.mo-btn > span {
    width: 30px; height: 3px;
    background-color: black;
    display: block;
}

.mo-btn > span:first-child {
    width: 15px;
}

.mo-btn > span:nth-child(2) {
    margin: 5px 0;
}

.mo-btn > span:last-child {
    width: 15px;
    float: right;
}

/* PC버전 미디어쿼리 */
@media (min-width:1024px) {
/* ===== header ===== */
/* head-bar */
.head-bar {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: initial;
    align-items: center;
}

.head-bar > h1 {
    display: none;
}

.head-bar > h2 {
    display: block;
}

.head-bar > h2 > img {
    width: 260px;
}

/* nav */
nav {
    display: block;
    display: flex;
}

nav > .gnb {
    display: flex;
    width: 300px;
    justify-content: initial;
    margin: 0 50px;
}

nav > .gnb > li {
    padding: 0 30px;
}

nav > ul:last-child {
    position: absolute;
    top: 27px; right: 150px;
    display: flex;
    align-items: center;
}

nav > ul:last-child li {
    padding: 7px;
}

/* mo-btn */
.mo-btn {
    position: absolute;
    top: 35px; right: 50px;
    width: 30px; height: 20px;
    cursor: pointer;
}

.mo-btn > span {
    width: 40px; height: 4px;
    background-color: black;
    display: block;
}

.mo-btn > span:first-child {
    width: 20px;
}

.mo-btn > span:nth-child(2) {
    margin: 5px 0;
}

.mo-btn > span:last-child {
    width: 20px;
    position: absolute;
    left: 20px;
}
}

/* ===== main ===== */
/* video-div */
.video-div {
    position: relative;
}

.video-div::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%; height: 100%;
}

.video-div > .video-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.video-content > p {
    text-align: center;
    color: white;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -3px;
}

.video-content > p > span {
    text-align: center;
    font-weight: normal;
    font-size: 17px;
    letter-spacing: -1px;
}

.video-content > ul {
    text-align: center;
}

.video-content > ul > li > p {
    color: white;
    letter-spacing: -1px;
}

.video-content > ul > li > p > span {
    font-size: 24px;
    font-weight: 600;
}

.box-text {
    width: 380px; height: 46px;
    background-color: #ffd901;
    border-radius: 20px;
    opacity: 0.6;
    margin: 10px 0;
}

.box-text > p {
    line-height: 46px;
    color: #000;
    letter-spacing: -2px;
}

video {
    width: 100%;
    min-width: 1400px;
    position: relative;
}

/* slide */
.slide-mo {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.slide-img-mo {
    display: flex;
}

.slide-mo img {
    width: 100%;
}

.slide-pc {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: none;
}

.slide-img-pc {
    display: flex;
}

.slide-mo-pc {
    width: 100%;
}

/* shop */
.shop {
    margin: 60px 0;
}

.shop > h2 {
    text-align: center;
    letter-spacing: -1px;
    font-size: 30px;
    margin-bottom: 30px;
}

.shop > hr {
    margin: 0 auto;
    width: 50px;
    margin-bottom: 30px;
}

.shop > p {
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.shop > .shop-button {
    margin: 0 auto;
    margin-bottom: 70px;
    width: 180px; height: 44px;
    background: black;
    border-radius: 3px;
    cursor: pointer;
}

.shop > .shop-button > p {
    text-align: center;
    color: white;
    line-height: 44px;
}

.shop-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.shop-img > .shop-space {
    text-align: center;
    position: relative;
    margin: 10px;
}

.shop-img > .shop-space > div {
    position: absolute;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 20%; width: 100%;
}

.shop-img > .shop-space > div > p {
    color: white;
    margin-top: 8px;
}

.shop-img > .shop-space > img {
    max-width: 100%;
}

/* last */
.info-box1,
.info-box2 {
    position: relative;
}

.info-box1::after,
.info-box2::after {
    position: absolute;
    left: 0; top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; height: 100%;
}

/* info-box1 */
.info-box1 > .pack1 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400PX;
}

.info-box1 > .pack1 > p {
    text-align: center;
    color: white;
    letter-spacing: -1px;
}

.info-box1 > .pack1 > p:first-child {
    font-size: 26px;
    margin-bottom: 30px;
}

.info-box1 > .pack1 > hr {
    border: 1px solid white;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info-box1 > .pack1 > .add-btn1 {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    border: 1px solid white;
    padding: 15px;
    width: 170px;
    cursor: pointer;
}

.info-box1 > .pack1 > .add-btn1:hover {
    background-color: white;
}

.info-box1 > .pack1 > .add-btn1 > p {
    color: white;
}

.info-box1 > .pack1 > .add-btn1:hover > p {
    color: black;
}

.info-box1 > img {
    width: 1100px
}

/* info-li */
.info-li1,
.info-li2,
.info-li3 {
    position: relative;
}

.info-li1::after,
.info-li2::after,
.info-li3::after {
    position: absolute;
    left: 0; top: 0;
    content: '';
    width: 100%; height: 100%;
}

.info-li1 > .info-t,
.info-li2 > .info-t,
.info-li3 > .info-t {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    padding: 50px;
    letter-spacing: -1px;
}

.info-t > p:first-child {
    color: #ffd901;
    margin-bottom: 5px;
}

.info-t > p:last-child {
    color: white;
    font-size: 26px;
} 

.info-li1 > img {
    width: 100%;
}

.info-li2 > img,
.info-li3 > img {
    width: 1100px;
}

/* info-box2 */
.info-box2 > .wrapper {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.info-box2 > img {
    height: 1000px;
}

.info-box2 .pack2 > p {
    color: white;
    text-align: center;
    letter-spacing: -1px;
}

.info-box2 .pack2 > p:first-child {
    font-size: 26px;
    margin-bottom: 30px;
}

.info-box2 .pack2 > hr {
    border: 1px solid white;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info-box2 .pack2 > .memo-box {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.info-box2 .pack2 > .memo-box > .memo {
    margin: 10px 15px;
    padding: 20px;
    height: 280px;
    background-color: rgba(255, 255, 255, 0.6);
}

.info-box2 .pack2 > .memo-box > .memo > a {
    text-align: justify;
    letter-spacing: -1px;
}

.info-box2 .pack2 > .memo-box > .memo > a:hover {
    color: #ffd901;
}

.info-box2 .pack2 > .memo-box > .memo > p {
    font-size: 14px;
    color: #444;
    text-align: justify;
    margin-top: 22px;
    letter-spacing: -1px;
}

.info-box2 .pack2 > .add-btn2 {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

.info-box2 .pack2 > .add-btn2:hover {
    background-color: white;
}

.info-box2 .pack2 > .add-btn2 > p {
    color: white;
}

.info-box2 .pack2 > .add-btn2:hover > p {
    color: black;
}

/* TABLET 버전 미디어쿼리 */
@media (min-width:768px) {
    /* video-div */
.video-content > ul {
    display: flex;
}

.video-content > ul > li {
    margin-right: 30px;
}

.video-content > ul > li > p > span {
    font-size: 40px;
}

.box-text {
    width: 220px; height: 46px;
}

/* shop */
.shop > h2 {
    font-size: 38px;
}

.shop-img > .shop-space > div {
    height: 16%; width: 100%;
}

.shop-img > .shop-space > div > p {
    margin-top: 10px;
}

.shop-img > .shop-space > img {
    margin: 0 auto;
}

/* info-box1 */
.info-box1 > .pack1 > p:first-child {
    font-size: 30px;
}

.info-box1 > img {
    height: 800px;
    width: 2000px
}

/* info-li */
.info-li1 > img,
.info-li2 > img,
.info-li3 > img {
    width: 100%;
} 

.info-t > p:last-child {
    font-size: 30px;
} 

.info-li1 > img {
    max-width: 2000px;
    height: 600px;
}

.info-li2 > img,
.info-li3 > img {
    max-width: 2000px;
    height: 300px;
}

/* info-box2 */
.info-box2 > img {
    height: 800px;
}

.info-box2 .pack2 > .memo-box {
    margin: 0 120px;
}

.info-box2 .pack2 > .memo-box > .memo {
    padding: 30px;
    height: 200px;
}
}

/* PC버전 미디어쿼리 */
@media (min-width:1024px) {
/* video-div */
.video-div {
    position: relative;
}

.video-div::after {
    position: absolute;
    top: 0; left: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%; height: 100%;
}

.video-div > .video-content {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.video-content > p {
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 100px;
    letter-spacing: -3px;
    line-height: 60px;
}

.video-content > p > span {
    text-align: center;
    font-weight: normal;
    font-size: 24px;
    letter-spacing: -1px;
}

.video-content > ul {
    text-align: center;
}

.video-content > ul > li > p {
    color: white;
    letter-spacing: -1px;
}

.video-content > ul > li > p > span {
    font-size: 40px;
    font-weight: 600;
}

.box-text {
    width: 300px; height: 46px;
    background-color: #ffd901;
    border-radius: 20px;
    opacity: 0.6;
    margin: 10px 0;
}

.box-text > p {
    line-height: 46px;
    color: #000;
    letter-spacing: -2px;
}

video {
    width: 100%;
    min-width: 1400px;
    position: relative;
}

/* slide */
.slide-mo {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: none;
}

.slide-img-mo {
    display: flex;
}

.slide-mo img {
    width: 100%;
}

.slide-pc {
    overflow: hidden;
    width: 100%;
    position: relative;
    display: block;
}

.slide-img-pc {
    display: flex;
}

.slide-img-pc > img {
    width: 100%;
}

/* shop */
main > .wrapper {
    max-width: 1300px;
}

.shop {
    margin: 60px 0;
    margin-top: 100px;
}

.shop > h2 {
    text-align: center;
    letter-spacing: -1px;
    font-size: 40px;
    margin-bottom: 30px;
}

.shop > hr {
    margin: 0 auto;
    width: 50px;
    margin-bottom: 30px;
}

.shop > p {
    text-align: center;
    letter-spacing: -1px;
    margin-bottom: 30px;
}

.shop > .shop-button {
    margin: 0 auto;
    margin-bottom: 70px;
    width: 180px; height: 44px;
    background: black;
    border-radius: 3px;
    cursor: pointer;
}

.shop > .shop-button > p {
    text-align: center;
    color: white;
    line-height: 44px;
}

.shop-img {
    display: flex;
    text-align: center;
}

.shop-img > .shop-space {
    text-align: center;
    position: relative;
    margin: 10px;
}

.shop-img > .shop-space > div {
    position: absolute;
    bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    height: 12%; width: 100%;
}

.shop-img > .shop-space > div > p {
    color: white;
    margin-top: 5px;
}

.shop-img > .shop-space > img {
    max-width: 100%;
}

/* last */
.plus-info {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}

.plus-info > li:first-child {
    grid-column: 1/4;
}

.plus-info > li:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/4;
}

.plus-info > li:nth-child(3) {
    grid-column: 2/4;
    grid-row: 2/4;
}

.plus-info > li:nth-child(4) {
    grid-column: 2/4;
    grid-row: 3/4;
}

.plus-info > li:last-child {
    grid-column: 1/4;
}

.info-box1,
.info-box2 {
    position: relative;
}

.info-box1::after,
.info-box2::after {
    position: absolute;
    left: 0; top: 0;
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%; height: 100%;
}

/* info-box1 */
.info-box1 > .pack1 {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    width: 400px;
}

.info-box1 > .pack1 > p {
    text-align: center;
    color: white;
    letter-spacing: -1px;
}

.info-box1 > .pack1 > p:first-child {
    font-size: 26px;
    margin-bottom: 30px;
}

.info-box1 > .pack1 > hr {
    border: 1px solid white;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info-box1 > .pack1 > .add-btn1 {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    border: 1px solid white;
    padding: 15px;
    width: 170px;
    cursor: pointer;
}

.info-box1 > .pack1 > .add-btn1:hover {
    background-color: white;
}

.info-box1 > .pack1 > .add-btn1 > p {
    color: white;
}

.info-box1 > .pack1 > .add-btn1:hover > p {
    color: black;
}

.info-box1 > img {
    width: 100%;
    max-height: 800px;
}

/* info-li */
.info-li1,
.info-li2,
.info-li3 {
    position: relative;
}

.info-li1::after,
.info-li2::after,
.info-li3::after {
    position: absolute;
    left: 0; top: 0;
    content: '';
    width: 100%; height: 100%;
}

.info-li1 > .info-t,
.info-li2 > .info-t,
.info-li3 > .info-t {
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    padding: 50px;
    letter-spacing: -1px;
}

.info-t > p:first-child {
    color: #ffd901;
    margin-bottom: 5px;
}

.info-t > p:last-child {
    color: white;
    font-size: 26px;
}

.info-li1 > img {
    max-width: 100%;
    height: 800px;
}

.info-li2 > img,
.info-li3 > img {
    max-width: 100%;
    height: 400px;
}

/* info-box2 */
.info-box2 > .wrapper {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    max-width: 1300px;
}

.info-box2 > img {
    width: 100%;
    height: 800px;
}

.info-box2 .pack2 > p {
    color: white;
    text-align: center;
    letter-spacing: -1px;
}

.info-box2 .pack2 > p:first-child {
    font-size: 26px;
    margin-bottom: 30px;
}

.info-box2 .pack2 > hr {
    border: 1px solid white;
    width: 50px;
    margin: 0 auto;
    margin-bottom: 30px;
}

.info-box2 .pack2 > .memo-box {
    margin-top: 50px;
    display: flex;
}

.info-box2 .pack2 > .memo-box > .memo {
    margin: 10px 15px;
    padding: 20px;
    width: 500px;
    height: 230px;
    background-color: rgba(255, 255, 255, 0.6);
}

.info-box2 .pack2 > .memo-box > .memo > a {
    text-align: justify;
    letter-spacing: -1px;
}

.info-box2 .pack2 > .memo-box > .memo > a:hover {
    color: #ffd901;
}

.info-box2 .pack2 > .memo-box > .memo > p {
    font-size: 14px;
    color: #444;
    text-align: justify;
    margin-top: 22px;
    letter-spacing: -1px;
}

.info-box2 .pack2 > .add-btn2 {
    margin: 0 auto;
    margin-top: 60px;
    text-align: center;
    border: 1px solid white;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}

.info-box2 .pack2 > .add-btn2:hover {
    background-color: white;
}

.info-box2 .pack2 > .add-btn2 > p {
    color: white;
}

.info-box2 .pack2 > .add-btn2:hover > p {
    color: black;
}
}

/* ===== footer ===== */
footer {
    padding: 24px 10px;
    background-color: #1e2029;
}

/* rule */
.rule {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 155px;
}

.rule > p:first-child {
    margin-right: 10px;
}

.rule > p > a {
    font-size: 13px;
    letter-spacing: -1px;
    color: #ccc;
}

/* foot-info */
.foot-info {
    margin-bottom: 50px;
}

.foot-info > p {
    text-align: center;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #8a8a8a;
}

/* foot-fix */
.foot-fix {
    width: 100%; height: 56px;
    padding: 20px 40px;
    background-color: #ffd901;
    position: fixed;
    bottom: 0; left: 0;
    z-index: 1;
}

.foot-fix > ul {
    display: flex;
    justify-content: space-between;
}

.foot-fix > ul > li > a {
    display: flex;
    align-items: center;
}

/* TABLET 버전 미디어쿼리 */
@media (min-width:768px) {
    /* rule */
    .rule {
        float: left;
    }
    
    /* foot-info */
    .foot-info {
        clear: both;
    }
    
    /* foot-fix */
    .foot-fix {
        padding: 20px 100px;
    }
}

/* PC버전 미디어쿼리 */
@media (min-width:1024px) {
    /* ===== footer ===== */
footer {
    padding: 24px 10px;
    background-color: #1e2029;
}

/* rule */
.rule {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 155px;
    position: absolute;
    top: 0; right: 480px;
}

.rule > p:first-child {
    margin-right: 10px;
}

.rule > p > a {
    font-size: 13px;
    letter-spacing: -1px;
    color: #ccc;
}

/* foot-info */
.foot-info {
    margin-bottom: 10px;
}

.foot-info > p {
    text-align: left;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #8a8a8a;
}

/* foot-fix */
.foot-fix {
    display: none;
}
}