@charset "utf-8";

.wrapper {
    position: relative;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}

/* ===== header ===== */
/* head-bar */
.head-bar {
    width: 100%;
    background-color: white;
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.head-bar > h1 > img {
    width: 150px;
}

.head-bar > h2 {
    display: none;
}

/* PC버전 미디어쿼리 */
@media (min-width:1024px) {
/* ===== header ===== */
/* head-bar */
.head-bar {
    position: relative;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    display: flex;
    justify-content: initial;
    align-items: center;
}

.head-bar > h1 {
    display: none;
}

.head-bar > h2 {
    display: block;
}

.head-bar > h2 > img {
    width: 260px;
}
}

/* ===== main ===== */
/* main_img */
.main_img {
    position: relative;
}

.main_img > img {
    width: 100%;
    min-width: 1000px;
}

/* main_bar */
.main_bar {
    position: absolute;
    bottom: 0; left: 0;
    z-index: 1;
    width: 100%;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.3);
}

.main_bar .gnb {
    display: flex;
}

.gnb > li {
    padding: 0 15px;
}

.gnb > li:first-child,
.gnb > li:nth-child(2) {
    display: none;
}

.gnb > li > p {
    color: white;
    font-size: 17px;
}

/* ===== footer ===== */
footer {
    padding: 24px 10px;
    background-color: #1e2029;
}

/* rule */
.rule {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 155px;
}

.rule > p:first-child {
    margin-right: 10px;
}

.rule > p > a {
    font-size: 13px;
    letter-spacing: -1px;
    color: #ccc;
}

/* foot-info */
.foot-info {
    margin-bottom: 50px;
}

.foot-info > p {
    text-align: center;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #8a8a8a;
}

/* foot-fix */
.foot-fix {
    width: 100%; height: 56px;
    padding: 20px 40px;
    background-color: #ffd901;
    position: fixed;
    bottom: 0; left: 0;
    z-index: 1;
}

.foot-fix > ul {
    display: flex;
    justify-content: space-between;
}

.foot-fix > ul > li > a {
    display: flex;
    align-items: center;
}

/* TABLET 버전 미디어쿼리 */
@media (min-width:768px) {
    /* rule */
    .rule {
        float: left;
    }
    
    /* foot-info */
    .foot-info {
        clear: both;
    }
    
    /* foot-fix */
    .foot-fix {
        padding: 20px 100px;
    }
}

/* PC버전 미디어쿼리 */
@media (min-width:1024px) {
    /* ===== footer ===== */
footer {
    padding: 24px 10px;
    background-color: #1e2029;
}

/* rule */
.rule {
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 155px;
    position: absolute;
    top: 0; right: 30%;
}

.rule > p:first-child {
    margin-right: 10px;
}

.rule > p > a {
    font-size: 13px;
    letter-spacing: -1px;
    color: #ccc;
}

/* foot-info */
.foot-info {
    margin-bottom: 10px;
}

.foot-info > p {
    text-align: left;
    font-size: 15px;
    letter-spacing: -1px;
    line-height: 22px;
    color: #8a8a8a;
}

/* foot-fix */
.foot-fix {
    display: none;
}
}